/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #00509d;
  color: #000000;
  margin:0;
}
h1{
  color: #ffd500;
  font-size: 28px;
  margin:10px;
  padding: 10px;
  text-align: left;
}
.pokemon-button{
  display: inline-block;
  background-color: #ffd500;
  color: #000000;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  padding: 32px 32px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 200px;
}
.pokemon-list{
  list-style: none;
  padding: 20px;
  margin: 20px;
}
  /* Mobile devices */
@media all and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: x-large;
  }
}
/*  iPads, Tablets */
@media all and (min-width: 481px) and (max-width: 768px){
    h1 {font-size: 28px;
    }
  }

/*   Small screens, laptops, small screens, laptops */
@media all and (min-width: 769px) {
  h1 {
    font-size: x-large;
  }
}