/* style.css */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
}
button.btn {
  margin-top: auto;
}
